@font-face {
    font-family: 'Orkney';
    src: url('./fonts/orkney-bold.woff') format('woff');
    src: url('./fonts/orkney-regular.woff') format('woff');
    src: url('./fonts/orkney-medium.woff') format('woff');
    src: url('./fonts/orkney-light.woff') format('woff');
    font-weight: normal;
}